<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.safecornerscoffee.mocha.domain.Account" alias="Account"/>
        <typeAlias type="com.safecornerscoffee.mocha.domain.Name" alias="Name"/>
        <typeAlias type="com.safecornerscoffee.mocha.domain.Address" alias="Address"/>
        <typeAlias type="com.safecornerscoffee.mocha.domain.Product" alias="Product"/>
        <typeAlias type="com.safecornerscoffee.mocha.domain.Item" alias="Item"/>
    </typeAliases>
</configuration>